%%-*- mode: erlang -*-

{deps, [
            {'riakc', ".*", {git, "https://github.com/basho/riak-erlang-client.git", {branch, master}}},
            {'lager', ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.2"}}},
            {'pooler', ".*", {git, "https://github.com/seth/pooler.git", {branch, master}}},
            {'statebox_riak', ".*", {git, "git@github.com:mochi/statebox_riak.git", {tag, "v0.1.0"}}}
       ]}.